/* unvisited link */
a:link {
    color: #319b61;
}

/* visited link */
a:visited {
    color: #568f56;
}

/* mouse over link */
a:hover {
    color: #337ab7;
}

/* selected link */
a:active {
    color: black;
}

/* header and footer */
.bg-dark {
    background-color: #999999!important;
}

img:hover {
    opacity: .8;
    filter: alpha(opacity=1); 
}

/* breadcrum */

.breadcrumb {
    background-color:#ffffff;
}


.btn {
    color:#319b61;
    border-color: #007bff;
    background-color: #fff;
    transition: background-color .40s ease-in-out,border-color .40s ease-in-out,box-shadow .40s ease-in-out;
}

.btn:hover {
    width:130px;
    height:45px;
}



/* footer */
.footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-item-flex {
    flex: 0 1 auto;
}

.pb-5, .py-5 {
    padding-bottom: 1rem!important;
}
.pt-5, .py-5 {
    padding-top: 2rem!important;
}

