/* unvisited link */
a:link {
    color: #319b61;
}

/* visited link */
a:visited {
    color: #568f56;
}

/* mouse over link */
a:hover {
    color: #337ab7;
}

/* selected link */
a:active {
    color: black;
}

/* body */
h1,h2,h3,h4 {
    color:#303030;
}

.btn {
    color:#319b61;
    border-color: #007bff;
    background-color: #fff;
    transition: background-color .40s ease-in-out,border-color .40s ease-in-out,box-shadow .40s ease-in-out;
}

.btn:hover {
    width:130px;
    height:45px;
}

img:hover {
    opacity: .8;
    filter: alpha(opacity=1); 
}

/* breadcrum */

.breadcrumb {
    background-color:#ffffff;
}

/* header and footer */
.bg-dark {
    background-color: #C0C0C0!important;
}

.navbar-dark .navbar-brand:hover {
    color:#F0F0F0;
}

/* footer */
.footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-item-flex {
    flex: 0 1 auto;
}

.pb-5, .py-5 {
    padding-bottom: 1rem!important;
}
.pt-5, .py-5 {
    padding-top: 2rem!important;
}
/* FAQ */

.accordion {
    transition: 20s;
    transition-delay:20s;
}
/* 404 */

.jumbotron {
    background-color: #fff;
}

h1.display-1 {
    font-size: 8rem;
}

/* Custom Media Queries */

/* Extra small devices (phones, 600px and down) */

@media (max-width: 600px) {

    .cta-container {
        padding-top: 4rem;
        padding-bottom: 1rem;
        background-size: cover;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media (min-width: 600px) {

    .cta-container {
        padding-top: 6rem;
        padding-bottom: 1rem;
        background-size: cover;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media (min-width: 768px) {
    .cta-container {
        padding-top: 8rem;
        padding-bottom: 2rem;
        background-size: cover;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
    .cta-container {
        padding-top: 8rem;
        padding-bottom: 2rem;
        background-size: cover;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
    .cta-container {
        padding-top: 8rem;
        padding-bottom: 2rem;
        background-size: cover;
    }
   
}

